##'"""""`## oo   d$                              .8888b oo
#' .mmm. `#      88                              88   "
#  ######## d$ d8888$ .d8888b. .d8888b. 88d888b. 88aaa  d$ .d8888b.
#  ###   `# 88   88   88'  `"" 88'  `88 88'  `88 88     88 88'  `88
#. `###' .# 88   88   88.  ... 88.  .88 88    88 88     88 88.  .88
##.     .## d$   d$   `88888$' `88888$' d$    d$ d$     d$ `8888$88
###########                                                     .88
#                                                            d8888$

[core]
	excludesfile = /Users/gabrielfalcao/.gitignoreglobal
	sshCommand = "ssh -o'HostkeyAlgorithms=+ssh-rsa' -o'PubkeyAcceptedAlgorithms=+ssh-rsa'"
	autocrlf = input

[user]
	name = Gabriel Falcão
	email = gabrielteratos@gmail.com

# signingkey = 4D0786C80D60FCC46F757F6139338D1E636B3B24
# email = gabriel@nacaolivre.org
# signingkey = 13A1C786C5257CD0093876E15DD7F3FE97A876A3
# signingkey = EA7BEF96DFFC763694768D6AE15E75934D9123FD

[color]
	# status = always
	# ui = always
	ui = true
	status = true

# the-perfect-palette-20
[color "status"]
    header = "#8FF8E2" # "#0B5E65"
    added = "#6CB328"
    # changed = "#6BECBD" # "#A6CFD0"
    changed = "#FDCBB0" "#831C5D"
    untracked =  "#BFFFFF"  "#0B5E65"
    branch = "#FBFF86" "#4C3E24"
    # branch = "#8FF8E2" "#313638"
    nobranch = bold ul blink "#CB734D"

[color "diff"]
    new = "#6CB328"
    old = "#FF424F"

    meta = "#515151"
    func = "#F04F78"
    frag = "#4D9BE6"
    context = "#CDBFB3"

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
# [commit]
# 	gpgsign = true

# [log]
# 	showSignature = true

[receive]
	keepAlive = 6

[http]
	postBuffer = 52428800

[advice]
	addEmptyPathspec = false

[alias]
	path = rev-parse --show-toplevel
        git = !git
        colorlog = log --format='%x1b[2J%x1b[3J%x1b[H%C(#73D216)commit%C(#8AE234) %H%C(#EDD400)%d%n%C(#EDD400)Author: %C(#EDD400)%aN %C(#EDD400)<%aE>%n%C(#729FCF)Date: %aD %C(#3265A4)%ar%x0a'

	br = branch
	st = status
	t = status --porcelain

        # "git st" and "git t" typos
	tst = status
	stp = status --porcelain
	stt = status --porcelain


        # "git log" typos
	lgo = status
	olg = status
	glo = status
	gol = status

# st = !bash -c 'cd $(git rev-parse --show-toplevel) && git status'
	dh = diff HEAD
	whatchanged = log --raw --no-merges
# dir = rev-parse --show-toplevel

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[safe]
	directory = /Users
# [remote "origin"]
# 	fetch = +refs/heads/*:refs/remotes/origin/*
[log]
	# date = format:%a %b %d %Y %I:%M:%S %p
	date = format:%a %b %d %Y %I:%M:%S %p
        format='%x1b[2J%x1b[3J%x1b[H%0a%C(#EEEEEC)commit%C(#D3D7CF) %H%C(#FFFFFF)%d%n%C(#EF2929)Author: %C(#EF2929)%aN %C(#EF2929)<%aE>%n%C(#729FCF)Date: %aD %C(#FCE94F)%ar%0a'
        format='%x1b[2J%x1b[3J%x1b[H%0a%C(#73D216)commit%C(#8AE234) %H%C(#EDD400)%d%n%C(#EDD400)Author: %C(#EDD400)%aN %C(#EDD400)<%aE>%n%C(#729FCF)Date: %aD %C(#3265A4)%ar%0a'

# COLORS resurrect-64



#2E222F
#3E3546
#625565
#966C6C
#AB947A
#694F62
#7F708A
#9BABB2
#C7DCD0
#FFFFFF
#6E2727
#B33831
#EA4F36
#F57D4A
#AE2334
#E83B3B
#FB6B1D
#F79617
#F9C22B
#7A3045
#9E4539
#CD683D
#E6904E
#FBB954
#4C3E24
#676633
#A2A947
#D5E04B
#FBFF86
#165A4C
#239063
#1EBC73
#91DB69
#CDDF6C
#313638
#374E4A
#547E64
#92A984
#B2BA90
#0B5E65
#0B8A8F
#0EAF9B
#30E1B9
#8FF8E2
#323353
#484A77
#4D65B4
#4D9BE6
#8FD3FF
#45293F
#6B3E75
#905EA9
#A884F3
#EAADED
#753C54
#A24B6F
#CF657F
#ED8099
#831C5D
#C32454
#F04F78
#F68181
#FCA790
#FDCBB0
