##'"""""`## oo   d$                              .8888b oo
#' .mmm. `#      88                              88   "
#  ######## d$ d8888$ .d8888b. .d8888b. 88d888b. 88aaa  d$ .d8888b.
#  ###   `# 88   88   88'  `"" 88'  `88 88'  `88 88     88 88'  `88
#. `###' .# 88   88   88.  ... 88.  .88 88    88 88     88 88.  .88
##.     .## d$   d$   `88888$' `88888$' d$    d$ d$     d$ `8888$88
###########                                                     .88
#                                                            d8888$

[core]
	excludesfile = /Users/gabrielfalcao/.gitignoreglobal
	sshCommand = "ssh -o'HostkeyAlgorithms=+ssh-rsa' -o'PubkeyAcceptedAlgorithms=+ssh-rsa'"
	autocrlf = input

[user]
	name = Gabriel Falcão
	email = gabrielteratos@gmail.com

# signingkey = 4D0786C80D60FCC46F757F6139338D1E636B3B24
# email = gabriel@nacaolivre.org
# signingkey = 13A1C786C5257CD0093876E15DD7F3FE97A876A3
# signingkey = EA7BEF96DFFC763694768D6AE15E75934D9123FD

[color]
	# status = always
	# ui = always
	ui = true
	status = true

# the-perfect-palette-20
[color "status"]
    # cs106
    header = "#FF8C6A" # "#0B5E65"
    added = "#5BD350"
    changed = "#FF3033"
    untracked =  "#B970CC"  "#0B5E65"
    branch = "#FFC466" "#4C3E24"
    nobranch = bold ul blink "#FF8C6A"

[color "diff"]
    # cs106
    new = "#7EE560"
    old = "#FF5050"

    meta = "#414141"
    func = "#FF8C6A"
    frag = "#4DA1D6"
    context = "#8C97AA"

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
# [commit]
# 	gpgsign = true

# [log]
# 	showSignature = true

[receive]
	keepAlive = 6

[http]
	postBuffer = 52428800

[advice]
	addEmptyPathspec = false

[alias]
	path = rev-parse --show-toplevel
        git = !git
        colorlog = log --format='%x1b[2J%x1b[3J%x1b[H%C(#73D216)commit%C(#8AE234) %H%C(#EDD400)%d%n%C(#EDD400)Author: %C(#EDD400)%aN %C(#EDD400)<%aE>%n%C(#729FCF)Date: %aD %C(#3265A4)%ar%x0a'

	br = branch
	st = status
	t = status --porcelain

        # "git st" and "git t" typos
	tst = status
	stp = status --porcelain
	stt = status --porcelain


        # "git log" typos
	lgo = status
	olg = status
	glo = status
	gol = status

# st = !bash -c 'cd $(git rev-parse --show-toplevel) && git status'
	dh = diff HEAD
	whatchanged = log --raw --no-merges
# dir = rev-parse --show-toplevel

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[safe]
	directory = /Users
# [remote "origin"]
# 	fetch = +refs/heads/*:refs/remotes/origin/*
[log]
	# date = format:%a %b %d %Y %I:%M:%S %p
	date = format:%a %b %d %Y %I:%M:%S %p
        format='%x1b[2J%x1b[3J%x1b[H%0a%C(#EEEEEC)commit%C(#D3D7CF) %H%C(#FFFFFF)%d%n%C(#EF2929)Author: %C(#EF2929)%aN %C(#EF2929)<%aE>%n%C(#729FCF)Date: %aD %C(#FCE94F)%ar%0a'
        format='%x1b[2J%x1b[3J%x1b[H%0a%C(#73D216)commit%C(#8AE234) %H%C(#EDD400)%d%n%C(#EDD400)Author: %C(#EDD400)%aN %C(#EDD400)<%aE>%n%C(#729FCF)Date: %aD %C(#3265A4)%ar%0a'
